body {
	overflow-x: hidden;
	overflow-y: auto;
	background-color:black;
}

a {
	color:white;
}

h1,h2,h3,h4,h5 {	
	color:white;
	margin:10px;
}

pre {
	border: none;
}

#editor {
	margin: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 200px;
	right: 0;
}

.myMarker {
  position:absolute;
  background:rgba(255,110,110,0.5);
  z-index:20
}

.ace_gutter-cell.ace_breakpoint{ 
    border-radius: 20px 0px 0px 20px; 
	background: rgba(255,110,110,0.5);
    //box-shadow: 0px 0px 1px 1px white inset; 
}
	
.project_explorer {
	padding:10px;
	width: 200px;
}	

.nav>li{
	width:100%;
}

.nav li.active {
	background: #282828;
	border-radius:15px;  
}