<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Neo Debugger</title>
    
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/debugger.css">

	<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>	
	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/bootbox.min.js"></script>
	<script src="/js/jquery.console.js"></script>
	
	<script>if (window.module) module = window.module;</script>
</head>

<body>

<style>
</style>

<div class="main">
	<div class="view_project">
		<h3>Contract Files</h3>
		<ul class="nav navbar-nav side-nav">
			{{#each files}}
			<li id="{{id}}">
				<a href="#" onclick="switchDocument('{{id}}')"><span class="glyphicon glyphicon-file"></span>&nbsp;{{name}}</a>
			</li>
			{{/each}}
		</ul>
	</div>

	<div class="view_editor">
		<pre id="editor">Loading...</pre>
	</div>

	<div class="view_toolbar">
		<span class="glyphicon glyphicon-play toolbar-icon" title="Run" onclick="runClick()"></span>
		<span class="glyphicon glyphicon-step-forward toolbar-icon" title="Step" onclick="stepClick()"></span>
		<span class="glyphicon glyphicon-stop toolbar-icon" title="Stop" onclick="stopClick()"></span>
		<span class="glyphicon glyphicon-cog toolbar-icon" title="Settings" onclick="settingsClick()"></span>
	</div>
	
</div>

<div class="footer">

	<div class="view_log" id="log">
		
	</div>

	<div class="view_stack">		
		 <table class="table">
			<thead>
			  <tr>
				<th>Position</th>
				<th>Evaluation</th>
				<th>Alt</th>
			  </tr>
			</thead>
			<tbody>
			  <tr>
				<td>0</td>
				<td>Doe</td>
				<td>Something</td>
			  </tr>
			  <tr>
				<td>1</td>
				<td>Moe</td>
				<td>Other</td>
			  </tr>
			  <tr>
				<td>2</td>
				<td>Dooley</td>
				<td>Another</td>
			  </tr>
			</tbody>
		  </table>
  </div>

</div>

<!-- load ace -->
<script src="/editor/ace.js"></script>
<!-- load ace language tools -->
<script src="/editor/ext-language_tools.js"></script>
<script>
    // load extensions
	var Range = ace.require('ace/range').Range;
	
	var langTools = ace.require("ace/ext/language_tools");
    var editor = ace.edit("editor");
	
    editor.setTheme("ace/theme/twilight");
    editor.session.setMode("ace/mode/csharp");

    // enable autocompletion and snippets
    editor.setOptions({
        enableBasicAutocompletion: true,
        enableSnippets: true,
        enableLiveAutocompletion: false
    });

	editor.focus();
	
    var syntaxCompleter = {
        getCompletions: function(editor, session, pos, prefix, callback) {
            if (prefix.length === 0) { callback(null, []); return }
			alert(prefix);
			callback(null, [{name: "snippet", value: "snippet", score: "500", meta: "method"}]);
        }
    }
    langTools.addCompleter(syntaxCompleter);

	var currentLine = null;
	var currentMarker = null;
	
	function jumpToLine(lineNumber) {
		if (lineNumber == currentLine) {
			return;
		}
		
		if (currentMarker != null) {
			editor.session.removeMarker(currentMarker);
		}
		
		currentMarker = editor.session.addMarker(new Range(lineNumber, 0, lineNumber, 1), "myMarker", "fullLine");			
		currentLine = lineNumber;
	}

	function updateState(obj)	 {
		if (obj.state == 'Break' || obj.state == 'Running') {
			if (obj.line) {
				jumpToLine(obj.line);
			}
		}
		else
		if (obj.state == 'Finished') {
			bootbox.alert("Result: "+obj.result+"<br>GAS used: "+obj.gas);
		}
	}
	
  // add command to lazy-load keybinding_menu extension
    editor.commands.addCommand({
        name: "showKeyboardShortcuts",
        bindKey: {win: "Ctrl-Alt-h", mac: "Command-Alt-h"},
        exec: function(editor) {
            ace.config.loadModule("ace/ext/keybinding_menu", function(module) {
                module.init(editor);
                editor.showKeyboardShortcuts();				
            })
        }
    })
    //editor.execCommand("showKeyboardShortcuts");	

	editor.commands.addCommand({
        name: "compileCode",
        bindKey: {win: "Alt-5", mac: "Alt-5"},
        exec: function(editor) {
			var myCode = editor.getValue();
			$.post("/compile", { code:myCode } ,function(data){
				alert(data);
			});
        }
    });

	// mark lines
	editor.on("guttermousedown", function(e) {
		var target = e.domEvent.target; 
		if (target.className.indexOf("ace_gutter-cell") == -1)
			return; 
		if (!editor.isFocused()) 
			return; 
		if (e.clientX > 25 + target.getBoundingClientRect().left) 
			return; 

		var row = e.getDocumentPosition().row;
		
		var breakpoints = e.editor.session.getBreakpoints(row, 0);
		var row = e.getDocumentPosition().row;
		if(typeof breakpoints[row] === typeof undefined){
			$.post("/breakpoint/add", { line:row } ,function(data){
				if (data == 'ok') {
					e.editor.session.setBreakpoint(row);
				}
			});		
		}			
		else
		{
			$.post("/breakpoint/remove", { line:row } ,function(data){
				if (data == 'ok') {
					e.editor.session.clearBreakpoint(row);		
				}
			});		
		}

		e.stop();
	});
	
	function reloadDocument(cursor){
		$.ajax({
		   url:"/content",
		   type:'GET',
		   success: function(data) {
				editor.setValue(data);
				editor.clearSelection();			   
				
				if (cursor){
					var line = cursor.row+1;
					editor.gotoLine(line, cursor.column, false);
					editor.renderer.scrollToRow(line);
					editor.focus();
				}
				
				$.ajax({
				   url:"/breakpoint/list",
				   type:'GET',
				   success: function(data) {
						let list = $.parseJSON(data);
						$.each(list, function(index, value) {
							e.editor.session.setBreakpoint(value);
						});						
				   }
				});			
				
		   }
		});			
	}
	
	var activeDocumentID;
	
	function switchDocument(id){
		
		$("#"+activeDocumentID).toggleClass( "active");
		activeDocumentID = id;
		$("#"+activeDocumentID).toggleClass( "active");
	
		var cursor = editor.getCursorPosition();
		var myCode = editor.getValue();
		$.post("/switch", { code:myCode, id:id } ,function(data){
			if (data == 'ok') {
				reloadDocument(cursor);
			}
			else {
				alert("failed: "+data);
			}						
		});
	}
	
	function runClick() {		
		bootbox.prompt("Insert input (in JSON format)", function(result){ 
			if (result != null) {
				executeCommand("invoke "+result, function(obj, error) {
					if (error != null) {
						bootbox.alert(error.message);
						return;						
					}										
				});
			}
		});
	}
	
	function stepClick() {
		bootbox.alert("Not implemented!");
	}
	
	function stopClick() {
		bootbox.alert("Not implemented!");
	}
	
	function settingsClick() {
		bootbox.alert("Not implemented!");
	}
	
	function executeCommand(input, callback) {
		$.post("/shell", { input:input } ,function(data){
			let consoleClass = "jquery-console-message-value";						
			let ret = [];
			
			try {
				let obj = $.parseJSON(data );						
				
				debugger;
				updateState(obj);
				
				callback(obj, null);
			} catch (err) {
				callback(null, err);
			}														
		});
	}
	
	$( document ).ready(function() {
		reloadDocument();
		
		activeDocumentID = '{{activeDocumentID}}';
		$("#"+activeDocumentID).addClass( "active");

		var shell = $('<div class="shell">');
        $('#log').append(shell);
		 
        var controller = shell.console({
           promptLabel: '> ',
           commandValidate:function(line){
             if (line == "") return false;
             else return true;
           },
           commandHandle:function(input, callback){					
					executeCommand(input, function(obj, error){
						let consoleClass = "jquery-console-message-value";						
						let ret = [];
						
						if (obj != null) {
							if (obj.lines) {
								let arr = obj.lines;
								for (let i=0; i< arr.length;i++){
									ret.push({msg:arr[i], className:consoleClass});
								}
							}
						}
						
						if (error) {
							ret.push({msg:err.message+"\n"+data, className:consoleClass});
						}
						
						callback(ret);						
					});
				
           },
           autofocus:false,
           animateScroll:true,
           promptHistory:true,
         });
		 
	});	
</script>

</body>
</html>